/*
---------------------------------------------
DEFAULT STYLES
---------------------------------------------
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "calibri";
  background-image: url("../img/background-box.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 4rem;
}

.oswald-font {
  font-family: "oswald";
}

.color-purple {
  color: #691a3a;
}

.color-pink {
  color: #c07375;
}

.color-header-title {
  color: #c07375;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex-2 {
  display: flex;
  justify-content: center;
}

.container {
  width: 1000px;
  max-width: 100%;
  padding: 10px;
  margin: auto;
}

/*
---------------------------------------------
HEADER TITLE STYLES
---------------------------------------------
*/
.title-header h1 {
  font-size: 5em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
}

.absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
---------------------------------------------
RANDOM-SECTION-IMG STYLES
---------------------------------------------
*/
.random-section-img {
  position: relative;
  padding: 40px;
  background: #c07375;
}

.bloc-img {
  position: relative;
  width: 160px;
  height: 160px;
  background: #fff;
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  margin-right: 3%;
}

.bloc-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  filter: saturate(0%);
}

.butterfly {
  width: 360px !important;
  margin-top: -10px;
}

.circle-center {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #c07375;
  border-radius: 100px;
  margin-top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.circle-img {
  width: 50px;
}

/*
---------------------------------------------
RANDOM-IMG STYLES
---------------------------------------------
*/
.random-img-select {
  padding: 20px;
  margin-top: 30px;
  text-align: center;
  color: #894260;
}

.err-msg {
  padding: 1px;
  margin-top: 15px;
  text-align: center;
  color: #462122;
}

.number-to-find {
  width: 250px;
  min-width: 40%;
  padding: 10px;
  margin: 35px auto;
  /*border: 1px solid #462122;*/
  background: #691a3a;
  color: #ebb97a;
  text-align: center;
}

.none {
  /*visibility: hidden;*/
  opacity: 0.5;
  transition: 1s ease-in-out;
}

.anime {
  display: none;
  transition: 0.5s ease;
  position: relative;
  transition: 1s ease;
  margin-left: auto;
}

/*
---------------------------------------------
NAV-LEVELS STYLES
---------------------------------------------
*/

.start-game-btn {
  position: relative;
  outline: none;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
  cursor: pointer;
  width: 150px;
  height: 50px;
  margin: 30px auto;
  display: block;
  padding: 15px;
  background: #c07375;
  color: #eee;
  font-size: 0.9em;
  text-transform: uppercase;
  transition: 1s linear;
  font-weight: bold;
  z-index: 99;
  letter-spacing: 2px;
}

.game-active {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0px;
  height: 50px;
  background: #691a3a;
  transition: 1s linear;
  z-index: -98;
}
.start-game-btn:hover > .game-active {
  animation: charge 1s linear;
}

@keyframes charge {
  0%,
  100% {
    width: 0;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}

main {
  margin-top: 50px;
  min-height: 200px;
  overflow: hidden;
}

.bar-fixed {
  position: sticky;
  top: 0px;
  left: 0;
  right: 0;
  height: 100px;
  padding: 20px;
  background: rgba(192, 115, 117, 0.8);
}

nav ul {
  text-align: center;
  display: flex;
}

.flex-around {
  display: flex;
  justify-content: center;
}

nav ul li {
  width: 130px;
  list-style-type: none;
  background: #fff;
  margin-bottom: 10px;
  margin-right: 3%;
  border-bottom: 5px solid #c07375;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
  transition: 0.8s ease-in-out;
}

.nav-levels .level {
  padding: 15px;
  display: block;
  text-decoration: none;
  color: #691a3a;
}

.nav-levels .level.is-active {
  cursor: pointer;
  border-bottom: 5px solid #691a3a;
  font-weight: bold;
  transition: 0.3s ease;
}

/*
---------------------------------------------
SECTION-BOXES STYLES
---------------------------------------------
*/
.section-boxes {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-gap: 20px;
  align-content: center;
  transition: 1s ease-in-out;
}

/*.flex-3 {
  display: flex;
}
*/

.section-boxes img.opened {
  pointer-events: none;
}

.section-boxes img {
  cursor: pointer;
  width: 200px;
}

.game-over {
  font-size: 4em;
  color: #ebb97b;
  text-transform: uppercase;
  font-family: "norwester";
  background: #691a3a;
  padding: 20px;
  width: 250px;
  min-width: 35%;
  letter-spacing: 4px;
  text-align: center;
  margin: auto;
  text-shadow: 3px 3px 3px rgba(150, 100, 10, 0.8);
}

.blink {
  transition: 0.5s ease;
  animation: blink 2s ease-in infinite alternate;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}
.btn-restart {
  cursor: pointer;
  display: block;
  padding: 10px 20px;
  margin: 15px auto;
  background: #eee;
  color: #894260;
  border: 1px solid #fff;
}
/*
---------------------------------------------
SECTION-BOXES STYLES
---------------------------------------------
*/
.player-lifes {
  display: grid;
  grid-template-columns: repeat(5, 30px);
  grid-template-rows: repeat(5, 30px);
  grid-gap: 10px;
  margin-left: 100px;
  margin-top: 12px;
}

.circle-life {
  width: 35px;
  display: inline-block;
  margin-right: 150px;
  vertical-align: middle;
}

/*
---------------------------------------------
HELP-BUTTON STYLES
---------------------------------------------
*/

.bloc-img.is-active {
  border: 5px solid #691a3a;
  transition: 1s ease-in-out;
  animation: circle 2s ease-in;
  border-radius: 100px;
  filter: saturate(100%);
}

.bloc-img.is-active img {
  filter: saturate(100%) !important;
}

@keyframes circle {
  0%,
  100% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.circle {
  width: 150px;
  height: 150px;
  background: #000;
}

.rotateBox {
  transform: rotate(45deg);
}

.is-hidden {
  display: none;
}
